@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', Courier, monospace;
  --color-primary: #ff4444;
  --color-primary-2: #c03d3d;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-2);
}

body {
  background-color: #111111;
  color: #ffffff;
}
