asgiref
autopep8
beautifulsoup4
click
cx-Freeze
cx-Logging
Django
django-active-link
django-bootstrap4
gunicorn
h11
importlib-metadata
lief
packaging
patchelf
Pillow
psycopg2-binary
pycodestyle
pyparsing
pysqlite3-binary
soupsieve
sqlparse
toml
tzdata
uvicorn
whitenoise
zipp
