asgiref
autopep8
beautifulsoup4
cx-Freeze
cx-Logging
Django
django-active-link
django-bootstrap4
gunicorn
importlib-metadata
lief
patchelf
Pillow
pycodestyle
soupsieve
sqlparse
toml
tzdata
whitenoise
zipp
