*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


canvas {
  width: 100%;
  background: transparent;
  z-index: 3;
  position: fixed;
}

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6, .h6, h5, .h5, h4, .h4, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}


h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
li{
  list-style: none;
}

.pagination{
  z-index: 3;
  position: relative;
  margin: auto;
  display: grid;
  margin-bottom: 1em;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: rgba(87, 85, 85, 0.767);
  border: 1px solid rgba(87, 85, 85, 0.753);
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #4c4e53e5;
  border-color: #4c4e53e5;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0845a0bb;
  border-color: #0845a0b7;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: rgba(60, 60, 66, 0.76);
  border-color: #8eb8e2;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

ul.pagination { 
       display: inline-block; 
       padding: 0;
}
  
  ul.pagination li { 
     display: inline; 
}
  
  ul.pagination li a{ 
       color: black;
       float: left; 
       padding: 8px 16px;
       text-decoration: none; 
   }
  
  ul.pagination li a.active { 
       background-color: blue; 
       color: white;
   }
  
  ul.pagination li a:hover:not(.active) {
       background-color: rgba(56, 55, 61, 0.747);
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
}


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

img,
svg {
  vertical-align: middle;
}

.rounded {
  border-radius: 35px !important;
  transition: 400ms ease;
}

body,
html {
  background-color: #141619;
  height: 100%;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 998;
  right: 0;
  width: 250px;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #2e2e2e;
}



#sidebar-wrapper.active {
  right: 11em;
  width: 255px;
  transition: all 0.3s ease 0s;
  
}

.sidebar-wrapper.active {
  right: 255px;
  width: 255px;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  margin: 25px;
  right: 15px;
  top: 15px;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 50px;
  z-index: 999;
  position: fixed;


}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
  transition: 400ms ease;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.imagen{
  width: 25px;
  height: auto;
  float: none;
}

#principal {
  padding-top: 37vh;
  padding-bottom: 17vh;
  margin-left: 8%;
  animation: fadeIn 1s ;

}

#principal a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

h6{
  color:#ffffff;
  text-align: center;
}
h1 {
  color:#bebebf;
  text-align: center;
}
#barra {
  color:whitesmoke;
}
#box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

/* EFEITO BOTAO */

.btnlindo {
  position: absolute;
  margin-top: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  font-family: monospace;
  box-sizing: border-box;
  background: linear-gradient(90deg, #ef12d1, #000000c2, #0a7ee4, #ef12d1);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1; 
 }

 .btnlindo:hover {
  animation: animate 2s linear infinite alternate;
  transition: 0.3s;
  color: #000000be;
 }
 @keyframes animate {
  0% {
   background-position: 0%;
  }
  100% {
   background-position: 400%;
  }
 }
 .btnlindo:before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #000000, #0a7ee4, #0a7ee4, #000000);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite alternate;
 }

#seta {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: frente-tras;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  width: 270px;
  float: right;
  padding-top: 10px;
  font-family: monospace;
  position: fixed;
  top: 1.3em;
  right: 0;
  z-index: 4;
}

@keyframes frente-tras {
  0%{
    margin: 0px 4vw 0px 0px;
    text-shadow: 3px 3px 3px #ef12d1;
  }
  100%{
    text-shadow: 3px 3px 2px #0d7bdb;
    margin: 0px 15vw 0px 0px;
  }
}
#box-seta{
  padding-top: 40px;
  height: 100px;
  float: right;
  z-index: 3;
}
#box-seta strong{
    color: white;
    font-size: calc(0.5em + 1vw);
    padding: 0px 10px;
}

.footer{
  z-index: 999;
  color: rgb(73, 72, 70);
  font-size: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  width: 300px;
  margin: auto;
}


/* SOCIAL BAR*/
.navpreta{
  position: fixed;
  width: 13%;
  height: 100%;
  max-width: 90px;
  left: 0px;
  top: 0px;
  background: linear-gradient(20deg, rgb(8, 81, 216),rgb(39, 39, 43));
  color: white;
  z-index: 3;
  animation: fadeIn 1s ease-in-out;

}
.list_contacts{
  list-style: none;
  text-align: center;
  margin-top: 40vh;
  padding: 0px;
}
.list_contacts > li{
  margin: 20px 0px;
  height: 70px;
}

path{
  color: #000;
}
.center{
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.center h1{
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  font-size: calc(1em + 3vw);
  font-weight: bold;
  line-height: 1.2;
}

i{
  color:black;
  font-size: 32px;
  text-align: center;

}
#wpp{
  transition: .6s ease-out;
}
#wpp:hover{
  transform: scale(1.0);
  color: rgb(13, 216, 29);
  font-size: 2.7em;
}

#tt{
  transition: .6s ease-out;
}
#tt:hover{
  transform: scale(1.0);
  color: rgb(0, 174, 255);
  font-size: 2.7em;

}

#lk{
  transition: .6s ease-out;
}
#lk:hover{
  transform: scale(1.0);
  color: rgb(10 102 194);  
  font-size: 2.7em;

}

#git{
  transition: .6s ease-out;
}
#git:hover{
  transform: scale(1.0);
  color: rgb(255, 255, 255);  
  font-size: 2.7em;

}
.fa-brands, .fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  padding-top: 10px;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  padding-top: 18px;
}


.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    color: white;
}
.fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before {
  content: "\f00d";
  color: white;
}


#principal_about{
  padding-top: 4.5em;
  margin: auto;
  margin-left: 15%;
  width: 80%;
  float: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(94, 94, 94);
}

#principal_about p{
  font-family: monospace;
  z-index: 4;
  animation: fadeIn 1s ease-in-out;
}


#principal_about h3{
  text-align: center;
  padding-bottom: 10px;
  color: #f1f1f1;
  font-weight: bold;
  font-family: monospace;
}
#principal_about p strong{
  text-align: center;
  padding-bottom: 10px;
  color: #700303;
  font-weight: bold;
  font-family: monospace;
}

#principal_about h5{
  margin-bottom: 15px;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-weight: bold;
  line-height: 1.2;
}

#img{
  width: 25%;
  height: auto;
  min-width: 200px;
  border-radius: 50%;
  border: 2px solid #0a7ee4;
  margin: auto;
  display: flex;
  z-index: 4;
}

#img:hover img{
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
}


#img2{
  width: 9em;
  height: auto;
  padding-top: 7em;
  margin: auto;
  display: flex;
}


/* Cartas*/ 
.container-card{
	width: 100%;
	display: flex;
  padding-top: 7em;
  justify-content: center;
	max-width: 1100px;
	margin: auto;
  padding-bottom: 20px;
  animation: fadeIn 1s ;
}

@keyframes myprojects {
  0%{
      text-shadow: 2px 3px 10px #1289ef;
  }
  100%{
      text-shadow: 2px 3px 10px #ef12ef;
  }
}

.card{
	width: 30%;
	margin: auto;
  margin-top: 20px;
  min-width: 300px;
  display: grid;
	border-radius: 50px;
	overflow: hidden;
	background:rgba(31, 30, 30, 0.788);
	box-shadow: 0px 1px 10px rgb(0, 0, 0);
	transition: all 400ms ease-out;
	cursor: default;
  z-index: 3;

}
.card:hover{
  animation: boxcard 1s infinite alternate;
	transform: translateY(-3%);
}

@keyframes boxcard {
  0%{
    box-shadow: 5px 5px 20px rgb(10, 69, 230);
  }
  100%{
    box-shadow: 5px 5px 20px rgb(238, 238, 238);
  }
}

.card img{
	width: 100%;
	height: 210px;

}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  font-size: calc(1em + 1vw);
  font-weight: bold;
  line-height: 1.2;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 17px;
  font-weight: bold;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}


@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

#iconproject:hover{
  color: rgb(255, 255, 255);
  transition: 0.5s;
  transform: translateY(-10%);
}

.nomeaba{
  float: left;
  display: inline-flex;
  margin: 1rem 10%;
  position: fixed;
}


@keyframes letra {
  0%{
    font-size: 1.7rem;
  }
  100%{
    font-size: 2rem;
  }
}

#hard{
  height: 100%;
  width: 90vw;
  float: left;
  color: white;
  font-weight: bold;
}

#hard ul{
  font-family: monospace;
  font-size: 20px;
  animation: fadeIn 1s ease-in-out;
  width: 80%;
  margin: auto;
  padding-bottom: 1.5%;
  color: rgb(94, 94, 94);

}

#hard h1{
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  font-size: calc(1.5em + 1.5vw);
  font-weight: bold;
  line-height: 1.2;
}

#hard h2, #hard h3{
  animation: tituloskills 1s infinite alternate;
  padding-bottom: 2%;
  color: #141619;
}


#python s{
  color: #ffca1d;
  text-decoration: none;
  padding-left: 10px;
}

#html{
  color: #e44f26;
}

#css{
  color: #1572b6;
}

#bd s{
  color: #ffda44;
}

#js{
  color: #1572b6;
}

@keyframes tituloskills {
  0%{
    text-shadow: 3px 3px 3px #ef12d1;
  }
  100%{
    text-shadow: 3px 3px 3px #0d7bdb;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; margin-top: 50px; }
  100% { opacity: 1;margin-top: 0px; }
  }

#skills{
  padding-top: 5.5em;
  display: flex;
  justify-content: center;

}
#linguagens{
  float: left;
  height: auto;
  width: 3vw;
  min-width: 350px;
}

#cursos{
  float: left;
  margin: 0% 5%;
  width: 35vw;
  min-width: 350px;
}
#cursos ul{
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}

#idioma{
  width: max-content;
  display: inline-block;
  margin: 0 6%;
}

#idioma ul{
  width: 100%;
}

.menor{
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  font-size: calc(0.5em + 1.5vw);
  font-weight: bold;
  line-height: 1.2;
}

.nav{
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  z-index: 998;
  padding: 0;
  margin-top: 25px;
  list-style: none;
  font-weight: 700;
}


.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}


.nav-tabs .nav-link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 3px 2px 3px #000;
  color: #fff;
  font-family: monospace;
  font-weight: 700;
  padding: 15px;
  transition: .4s ease-out;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  text-shadow: 3px 2px 3px #1289ef;
  -webkit-text-stroke-width: medium;
  color: #000;
  font-weight: 700;
  transition: all 0.4s;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  text-shadow: 3px 2px 3px #1289ef;
  -webkit-text-stroke-width: medium;
  color: #000;
  transition: all 0.4s;
  font-weight: 700;
}

#home{
  color: #fff;
  font-family: monospace;
  font-weight: 900;
  font-size: 25px;
  text-shadow: 3px 2px 3px #1289ef;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

#home:hover, #home.active{
  text-shadow: 3px 2px 3px #ef12d1;
  -webkit-text-stroke-width: medium;
  transition: all 0.4s;
  color: rgb(0, 0, 0);
  height: 80px;
  font-family: monospace;
  font-weight: 700;

}
