:root{
  --color-main:#24252a;
  --color-blue:rgba(9, 147, 182, 0.8);
  --color-hover:rgba(4, 116, 145, 0.8);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body{
  background-color: var(--color-main);
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

footer{
  height: 20rem;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer h1{
  color: rgb(255, 255, 255);
}
footer h1 > strong{
  color: var(--color-main);
}
footer p{
  color: white;
}
.footer-details{
  width: 25%;
  min-width: 16em;
  margin-bottom: 1em;
}
.footer-datas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-links{
  display: flex;
}

.footer-links a{
  color: var(--color-main);
  font-size: 1.1em;
  transition: 0.5s all;
  margin: 0 1em;
}
.footer-links i{
  color: white;
  font-size: 1.5em;
  transition: 0.3s all;
  margin: .5pc;
}

.footer-links i:hover{
  color: var(--color-main);
}

.logo {
  cursor: pointer;

}
#logo-main{
  width: 5cm;
  height: auto;
}

.nav__links a,
.cta,
.overlay__content a{
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: larger;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--color-blue);
}

.cta {
  padding: 9px 25px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--color-hover);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--color-blue);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .arrow-down{
    display: flex;
  }

}
@media only screen and (min-width: 850px) {
  .sidebar-mobile{
    display: none;
  }
  .container-right{
    display: flex;
  }
  .line-h{
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .container-right{
    display: none;
  }
  .sidebar-mobile{
    display: flex;
  }
  .arrow-down{
    display: none;
  }
  .line-v{
    display: none;
  }
}
.option-menu{
  color: rgb(0, 0, 0);
}


.container-main{
  display: flex;
  justify-content: center;
  padding: 5em 0 1em;
  flex-wrap: wrap;

}

.container-left{
  margin: 3em;
  max-width: 33em;
}
.container-left > h1{
  color: gray;
  font-size: calc(1.5em + 3vw);

}
.container-left p{
  font-size: 1.2em;
  color: gray;
}
.container-left > h1 > strong{
  color: var(--color-blue);
}
.container-left h3{
  margin-top: 2em;
  color: gray;
  font-size: 1.5em;
}

.container-right{
  margin: 3em;
  max-width: 32em;
}

.photo-main{
  min-width: 242px;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.photo-python{
  max-width: 2em;
}
.stack{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: break-spaces;
}
.sidebar-mobile{
  align-items: center;
  justify-content: center;
}

.sidebar-mobile img{
  width: 2em;
  margin-right:1em;
}
.sidebar-mobile i{
  color: white;
  font-size: 2em;
  margin-right: 1em;
  transition: 0.3s all;
}
.sidebar-mobile i:hover{
  color: var(--color-blue);
}
.sidebar{
  float: right;
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.sidebar i{
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
  transition: 0.3s all;
}
.sidebar i:hover{
  color: var(--color-blue);
}
.sidebar img{
  width: 2em;
  margin-bottom: 1em;
}

@keyframes identifier {
  100%{
    padding-top: 1.5em;
  }
  0%{
    padding-top: 0em;
  }
}

.arrow-down{
  margin: 1em;
  font-size: 1.2em;
  height: 100px;
  font-weight: bold;
  color: gray;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding-right: 50%;
  animation-name: identifier;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
.arrow-down i{
  color: var(--color-blue);
  font-size: 1.3em;
}

.container-about{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5em 0 1em;
}

.container-about h1{
  color: white;
}
.container-about p{
  color: gray;
  letter-spacing: 1px;
}
.Introduction{
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Introduction img{
  float: left;
  border-radius: 50%;
  width: 30%;
  min-width: 15em;
  margin: 0 3em;
}
.text-Introduction{
  max-width: 20em;
  margin: 0 3em;
}
.text-Introduction button{
  border: 0;
  border-radius: 0.5em;
  background-color: var(--color-blue);
  color: white;
  margin-top: 1em;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s all;

}

.text-Introduction button:hover{
  background-color: var(--color-hover);
}

.line-v{
  height: 320px;
  border-right: 3px solid var(--color-blue);
}

.line-h{
  margin: 2em 0;
  width: 300px;
  border-bottom: 3px solid var(--color-blue);
}
.space{
  padding: 0 4em;
}
.container-skills{
  padding: 5em 0 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.container-skills h1{
  color: white;
}

.skills{
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
}
.skills button{
  border: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.skills h2{
  color: gray;
  text-align: left;
}
.skills p{
  font-size: 1.3em;
  color: gray;
}
.skills i{
  font-size: 2em;
  color: var(--color-blue);
}
#title-hard{
  margin: 0 1em;
}