@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body, html {
  font-family: "Mona Sans", "Mona Sans Header Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: unset;
  height: 100%;
  background: #0d1117;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1012px){
.pt-lg-12 {
    padding-top: var(1rem, 128px) !important;
}}

@media (min-width: 544px){
.pt-sm-8 {
    padding-top: var(1rem, 64px) !important;
}}
.pt-3 {
    padding-top: var(1rem, 16px) !important;
}