@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body, html {
  font-feature-settings: unset;
  background: #0d1117;
  /* background-image: url('/bg.webp'); */
  background-size: 700px;
  background-repeat: no-repeat;
  background-position-x: 1300px;

  overflow-x: hidden;
}


.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 524px) {
  body, html {
    background: #0d1117;
    background-image: url('/bg-mobile.webp');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-y: -180px; 
  }
  .container-xl {
    padding-top: 15em;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1012px){
.pt-lg-12 {
    padding-top: var(1rem, 128px) !important;
}}

@media (min-width: 544px){
.pt-sm-8 {
    padding-top: var(1rem, 64px) !important;
}}
.pt-3 {
    padding-top: var(1rem, 16px) !important;
}

.button {
  padding: 5px 0px;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden; /* para garantir que a pseudo-elemento não ultrapasse o botão */
}

/* Estilos para o pseudo-elemento que será a linha embaixo */
.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff; /* ou a cor da linha */
  transition: width 0.3s ease;
}

/* Estilos para a animação de crescimento da linha */
.button:hover::after {
  width: 100%;
}

/* Estilos para a seta */
.button > span {
  display: inline-block;
  transition: transform 0.1s ease;
}

/* Estilos para mover a seta para a direita ao passar o mouse */
.button:hover > span {
  transform: translateX(5px);
}