{% extends 'base.html' %}
{% load static %}

{% block titulo %}Skills{% endblock titulo %}


{% block conteudo %}

<div id='skills'>
    <div id='hard'>
        <h1>Hard Skills</h1>
        <div id='linguagens'>
            <h2>Linguagens</h2>
            <ul id='python'> 
                <img src="{% static 'img/py.png' %}" alt="python" style='width:64px; height:64px'><s>Python</s> e seus frameworks: django, flask. E libs como: Selenium,
                pandas, PyQt5, matplotlib, etc...
            </ul>

            <ul id='html'>
                <img src="{% static 'img/html.png' %}" alt="html" style='width:64px; height:64px'> HTML5
            </ul>

            <ul id='css'>
                <img src="{% static 'img/css.png' %}" alt="css" style='width:64px; height:64px'> CSS3
            </ul>
            <ul id='js'>
                <img src="{% static 'img/js.png' %}" alt="js" style='width:64px; height:64px'> JAVASCRIPT
            </ul>
            <ul id='bd'>
                <img src="{% static 'img/bd.png' %}" alt="bd" style='width:64px; height:64px'><s style='text-decoration:none'>SQL</s>: MySQL, SQlite3, PostgreSQL.
            </ul>
            <ul id='git'>
                <img src="{% static 'img/git.png' %}" alt="git" style='width:64px; height:64px'> Git
            </ul>

        </div>

        <div id='cursos'>
            <h2>Conhecimento adquirido em cursos e treinamentos</h2>
            <ul>
                Desenvolvimento web com Django e flask.
            </ul>
            <ul>
                Desenvolvimento Desktop com PyQt5.
            </ul>
            <ul>
                Desenvolvimento de bots com Selenium.
            </ul>
            <ul>
                Desenvolvimento de gráficos e análise de tabelas com Pandas e Matplotlib.
            </ul>
            <ul>
                Resolver bugs e falhas em sofwares.
            </ul>
            <ul>
                Conhecimento e utilização de Bootstraps!
            </ul>
            <ul>
                Conhecimento em docker!
            </ul>
            <ul>
                Conhecimento e utilização de algumas Nuvens!
            </ul>
            <ul>
                Desenvolver e consumir APIs
            </ul>
            <ul>
                Conhecimento em REST APIs
            </ul>

        </div>

        <div id='idioma'>
            <h2>Idiomas</h2>
            <ul>
                <img src="{% static 'img/br.png' %}" alt="">(Nativo)
            </ul>
            <ul>
                <img src="{% static 'img/eua.png' %}" alt=""> A2
            </ul>
        </div>
    </div>

</div>

{% endblock conteudo %}