{% extends 'base.html' %}
{% load static %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}

{% include 'parciais/_socialbar.html' %}

<div id='principal'>
    <h6>Hello, World!</h6>
    <div class='center'>
        <h1>I'm, Ryan Barbosa Silva 🤙.</h1>
    </div>
    <h6>Developer <img class='imagen'src="{% static 'img/py.png' %}" alt="python"> <strong id='barra'>|</strong> Junior </h6>
    <br>
    <a class="btnlindo"  href="{% url 'projects' %}">Projects</a>
  </div>

{% endblock conteudo %}
