{% load static %}

<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ryan Barbosa Silva</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='navbar'>
            <header>
                <a class="logo" href="/"><img id='logo-main'src="{% static 'img/logo.png' %}" alt="logo"></a>
                <nav>
                    <ul class="nav__links">
                        <li><a href="#about">About</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#qualification">Qualifications</a></li>
                        <li><a href="#projects">Projects</a></li>
                    </ul>
                </nav>
                <a class="cta" href="#contact">Contact</a>
                <p class="menu cta">Menu</p>
            </header>
        </div>
        <div class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a class="option-menu-about" href="#about">About</a>
                <a class="option-menu-service" href="#skills">Skills</a>
                <a class="option-menu-qualifications" href="#qualification">Qualifications</a>
                <a class="option-menu-project" href="#projects">Projects</a>
                <a class="option-menu-contact" href="#contact">Contact</a>
            </div>
        </div>

        <div class='container-main'>
            <div class='container-left'>
                <div class='sidebar-mobile'>
                    <a href="https://github.com/ryanbsdeveloper" target='_blank'> <i class="fa-brands fa-github"></i> </a>
                    <a href="https://www.linkedin.com/feed/" target='_blank'> <i class="fa-brands fa-linkedin-in"></i> </a>
                    <a href="" target='_blank'> <i class="fa-brands fa-whatsapp"></i> </a>
                </div>
                <h1>Hello, i'm <strong>Ryan Barbosa Silva</strong>.</h1>
                <p>A tech enthusiast and self learner, who believes in the power of community.</p>
                <div>
                    <h3 class='stack'>Developer <img class='photo-python' src="{% static 'img/python.png' %}" alt="Python"> Júnior</h3>
                </div>
            </div>
            <div class='container-right'>
                <img class='photo-main' src="{% static 'img/ryan.jpeg' %}" alt="my photo">
                <div class='sidebar'>
                    <a href="https://github.com/ryanbsdeveloper" target='_blank'> <i class="fa-brands fa-github"></i> </a>
                    <a href="https://www.linkedin.com/feed/" target='_blank'> <i class="fa-brands fa-linkedin-in"></i> </a>
                    <a href="" target='_blank'> <i class="fa-brands fa-whatsapp"></i> </a>
                </div>
            </div>
            <div class="arrow-down">
                <p><i class="fa-solid fa-computer-mouse"></i> Scroll down <i class="fa-solid fa-arrow-down"></i></p>
            </div>
        </div>
        <div class="container-about" id='about'>
            <h1>About me</h1>
            <p>Introduction</p>
            <div class='Introduction'>
                <img src="{% static 'img/ryan-q.jpeg' %}" alt="">
                <div class="line-v"></div>
                <div class='text-Introduction'>
                    <div class="line-h"></div>
                    <p>Hi, my name is Ryan barbosa silva, I'm 19 years old and I've been in this incredible programming world for 3 and a half years! I am a young man with a great thirst to learn more and more! I really enjoy reading technology docs to use correct syntax and for better code reading. I develop with python as main "LP".
                    </p>
                    <button>Resume <i class="fa-regular fa-file-lines"></i></button>
                </div>
            </div>
        </div>
        <div class="container-skills" id='skills'>
            <h1>Skills</h1>
            <p>All my skills</p>
            <div class='skills'>
                <div class='hard-skills space'>
                    <button id='buttonHard'>
                        <i class="fa-solid fa-code"></i> 
                        <div id='title-hard'>
                            <h2>Hard Skills</h2>
                            <p>technologies I worked on.</p>
                        </div>
                        <br>
                        <i id='icon-hard' class="fa-solid fa-chevron-down icon_open"></i>
                    </button>
                    <div class='contentsHard' id='hard'>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-python"></i> 
                            </div>
                            <p>Python and its libs in general and frameworks like: Flask, Django and DRF, FastAPI.
                                TDD com: PyTest. Creation of REST(RESTful) API with swagger. And creation of bots and automations with: Selenium. And graphical interfaces with PyQT and PySide.</p>                      </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-docker"></i> 
                            </div>
                            <p>Docker</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-solid fa-cloud"></i> 
                            </div>
                            <p>Clouds like: AWS and Microsoft Azure.</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-html5"></i><i class="fa-brands fa-css3-alt"></i>
                            </div>

                             <p>Front-end with: HTML5 e CSS3</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-js"></i> 
                            </div>
                            <p>Javascript</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-solid fa-database"></i> 
                            </div>
                            <p>Related and unrelated databases: SQLServer, SQLite3, PostgreSQL, MySQL, MongoDB.</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-solid fa-comment-dots"></i>
                            </div>
                            <p>Mail server: RabbitMQ.</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-solid fa-arrows-split-up-and-left"></i> 
                            </div>
                            <p>Agile methodology SCRUM and Kanban.</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-git-alt"></i> 
                            </div>
                            <p>Versioning with GIT.</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-brands fa-linux"></i>
                            </div>
                            <p>Linux</p>
                        </div>
                        <div class="elements">
                            <div class="icon">
                                <i class="fa-solid fa-compass-drafting"></i> 
                            </div>
                            <p>Desing patterns.</p> 
                        </div>
                    </div>
                </div>
                <div class='soft-skills space'>
                    <button id='buttonSoft'>
                        <i class="fa-solid fa-brain"></i>
                        <div id='title-hard'>
                            <h2>Soft Skills</h2>
                            <p>behavioral skills I have.</p>
                        </div>
                        <br>
                        <i id='icon-soft' class="fa-solid fa-chevron-down icon_open"></i>
                    </button>
                    <div class='contentsSoft' id='soft'>
                        <div class="elements">
                            <p>High concentration</p>
                        </div>
                        <div class="elements">
                            <p>Problems solution</p>
                        </div>
                        <div class="elements">
                            <p>Time management</p>
                        </div>
                        <div class="elements">
                            <p>Team work</p>
                        </div>
                        <div class="elements">
                            <p>Emotional intelligence</p>
                        </div>
                        <div class="elements">
                            <p>Self confidence</p>
                        </div>
                        <div class="elements">
                            <p>deal with the pressure</p>
                        </div>
                        <div class="elements">
                            <p>Communication</p>
                        </div>
                        <div class="elements">
                            <p>Empathy</p>
                        </div>
                        <div class="elements">
                            <p>Proactivity</p>
                        </div>
                        <div class="elements">
                            <p>Enthusiasm</p>
                        </div>
                        <div class="elements">
                            <p>Flexibility and adaptability</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-qualifications" id='qualification'>
            <h1>Qualifications</h1>
            <p> My Educational & Work Experience</p>
            <div class="qualification_tabs">
                <div class="qualification_button active" id="educationheader">
                    <i class="fa-solid fa-graduation-cap"></i>Education
                </div>

                <div class="qualification_button" id="workheader">
                    <i class="fa-solid fa-briefcase"></i>Work
                </div>
            </div>
            <div class="qualification_sections">
                <div class="qualification_content" style='display: block' id="education">
                    <div class="qualification_data">
                        <div id='text-data'  >
                            <span class="qualification_title">technology professional courses</span>
                            <span class="qualification_subtitle">Online courses</span>
                            <div class="qualification_calendar">
                                <i class="fa-solid fa-calendar-days"></i> 2019 - Present
                            </div>
                        </div>
                        <div>
                            <span class="qualification_circle"></span>
                            <span class="qualification_line"></span>
                        </div>
                    </div>

                    <div class="qualification_data">
                        <div></div>
                        <div>
                            <span class="qualification_circle"></span>
                            <span class="qualification_line"></span>
                        </div>
                        <div id='text-data' >
                            <span class="qualification_title">High school</span>
                            <span class="qualification_subtitle">Sao Paulo government school</span>
                            <div class="qualification_calendar">
                                <i class="fa-solid fa-calendar-days"></i> 2014 - 2021
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qualification_content " style='display: none' id="work">
                    <div class="qualification_data">
                        <div></div>

                        <div>
                            <span class="qualification_circle"></span>
                            <span class="qualification_line"></span>
                        </div>

                        <div>
                            <h3 class="qualification_title">Loading</h3>
                            <span class="qualification_subtitle">waiting for a good company</span>
                            <div class="qualification_calendar">
                                <i class="fa-solid fa-calendar-days"></i>  loading...
                            </div>
                        </div>
                    </div>

                    <div class="qualification_data">
                        <div>
                            <h3 class="qualification_title">Freelancer</h3>
                            <span class="qualification_subtitle">Python software developer</span>
                            <div class="qualification_calendar">
                                <i class="fa-solid fa-calendar-days"></i>  October 2021 - Present
                            </div>
                        </div>

                        <div>
                            <span class="qualification_circle"></span>
                            <span class="qualification_line"></span>
                        </div>
                    </div>
         
                </div>
            </div>
        </div>
        <div class="container-projects" id='projects'>
            <section class="portfolio section" id="projects">
                <h1>Projects</h1>
                <p>Here are some of my most recent and relevant projects!!</p>
    
                <div class="portfolio_container container swiper-container swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-css-mode">
                    <div class="swiper-wrapper" id="swiper-wrapper-687c761a34f010b7" aria-live="polite"><div class="portfolio_content grid swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 768px;"></div>
                        <div class="portfolio_content grid swiper-slide swiper-slide-active" data-swiper-slide-index="0" role="group" aria-label="1 / 5" style="width: 768px;">
                            <img src="{% static 'img/chat.png' %}" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    Chat Developers
                                </h3>
                                <p class="portfolio_description">
                                    Chat community with synchronous communication between developers.
                                </p>
                                <div class="button-projects">
                                    <a href="https://github.com/ryanbsdeveloper/app-chat" class="button button-flex button-small portfolio_button" target="_blank">Check out <i class="fa-regular fa-file-code"></i></a>
                                </div>

                            </div>
                        </div>
                        <div class="portfolio_content grid swiper-slide swiper-slide-next" data-swiper-slide-index="1" role="group" aria-label="2 / 5" style="width: 768px;">
                            <img src="{% static 'img/caltec.png' %}" alt="" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    Weighing software<i>(Freelancer)</i>
                                </h3>
                                <p class="portfolio_description">
                                    Complete weighing software developed for the company 'Caltec Soluções em Balanças e Tecnologias'.
                                </p>
                                <i>
                                    For product privacy, please contact us for information and previews.
                                </i>
                            </div>
                        </div>
                        <div class="portfolio_content grid swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 768px;">
                            <img src="{% static 'img/api.png' %}" alt="" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    dummy data REST API
                                </h3>
                                <p class="portfolio_description">
                                    REST API with swagger. HASH MD5 authorization, for access to valid data of fictitious persons.
                                </p>
                                <div class="button-projects">
                                    <a href="https://github.com/ryanbsdeveloper/personal-data-api" class="button button-flex button-small portfolio_button" target="_blank">Open source <i class="fa-regular fa-file-code"></i></i></a>
                                    <a href="https://api-dados-pessoais.herokuapp.com/" class="button button-flex button-small portfolio_button" target="_blank">Check out <i class="fa-regular fa-circle-check"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_content grid swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 5" style="width: 768px;">
                            <img src="{% static 'img/webstock.png' %}" alt="" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    Stock Web Platform
                                </h3>
                                <p class="portfolio_description">
                                    An inventory management platform via the web, having access to an API of your inventory when you register!
                                </p>
                                <div class="button-projects">
                                    <a href="https://github.com/ryanbsdeveloper/web-stock" class="button button-flex button-small portfolio_button" target="_blank">Open source <i class="fa-regular fa-file-code"></i></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_content grid swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 768px;">
                            <img src="{% static 'img/botsocio.png' %}" alt="" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    Daily automation
                                </h3>
                                <p class="portfolio_description">
                                    an executable script with the Selenium lib that makes accessing a website everyday automatically using the linux terminal
                                </p>
                                <div class="button-projects">
                                    <a href="https://github.com/ryanbsdeveloper/automation-socio-rei" class="button button-flex button-small portfolio_button" target="_blank">Open source <i class="fa-regular fa-file-code"></i></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio_content grid swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 768px;">
                            <img src="{% static 'img/newswpp.png' %}" alt="" class="portfolio_img">
    
                            <div class="portfolio_data">
                                <h3 class="portfolio_title">
                                    News via WhatsApp
                                </h3>
                                <p class="portfolio_description">
                                    Program that searches for news on the Web and sends the link via Whatsapp. The challenge was to do without shipping services.
                                </p>
                                <div class="button-projects">
                                    <a href="https://github.com/ryanbsdeveloper/news-automation" class="button button-flex button-small portfolio_button" target="_blank">Open source <i class="fa-regular fa-file-code"></i></i></a>
                                </div>
                            </div>
                        </div>
                    <div class="portfolio_content grid swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 5" style="width: 768px;">    
                            
                        </div>
                    </div>
                    
                    <br><br>
                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-687c761a34f010b7">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-687c761a34f010b7">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
            </section>
        </div>
        <div class="container-contact" id='contact'>
            <h1>Contact me</h1>
            <p>Do you want to talk to me? My inbox is always open!</p>
            <div class='contact-data'>
                <div class="info-box">
                    <div class="contact_info">
                        <i class="fa-regular fa-envelope"></i>
                        <div>
                            <h3 class="contact_title">Email</h3>
                            <span class="contact_subtitle">ryanbsdeveloper@gmail.com</span>
                        </div>
                    </div>
                    <div class="contact_info">
                        <i class="fa-brands fa-github"></i>
                        <div>
                            <h3 class="contact_title">Github</h3>
                            <span class="contact_subtitle">ryanbsdeveloper</span>
                        </div>
                    </div>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="data-submit">
                        <div class="data-input">
                            <div class="contact_content">
                                <p class="contact_label">Name</p>
                                <input type="text" name="name" class="contact_input" id="name" required="">
                            </div>
                            <div class="contact_content">
                                <p class="contact_label">Email</p>
                                <input type="text" name="name" class="contact_input" id="name" required="">
                            </div>
                        </div>
                        <div class="contact_content">
                            <p class="contact_label">Subject</p>
                            <input type="text" name="name" class="contact_input" id="name" required="">
                        </div>
                        <div class="contact_content">
                            <p class="contact_label">Message</p>
                            <textarea name="message" id="" cols="0" rows="7" class="contact_input message" required=""></textarea>
                        </div>
                        <div class="button-contact">
                            <button>
                                Send message <i class="fa-regular fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.2.0/scrollreveal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
        <script src="https://kit.fontawesome.com/5fc40ce3b8.js" crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class='footer-datas'>
            <div class='footer-details'>
                <h1><strong>ryanbs</strong>developer</h1>
                <br>
                <p><strong>"The only way to do something great is to love what you do." </strong>.</p>
                <br>
                <p>Brazil, São paulo - Guarulhos</p>
            </div>
            <div class='footer-links'>
                <a class="option-menu-service" href="#">Services</a>
                <a class="option-menu-project" href="#">Projects</a>
                <a class="option-menu-about" href="#">About</a>
                <a class="option-menu-contact" href="#">Contact</a>
            </div>  
            <div class='footer-links'>
                <a href="https://github.com/ryanbsdeveloper" target='_blank'> <i class="fa-brands fa-github"></i> </a>
                <a href="https://www.linkedin.com/feed/" target='_blank'> <i class="fa-brands fa-linkedin-in"></i> </a>
                <a href="" target='_blank'> <i class="fa-brands fa-whatsapp"></i> </a>
            </div>
        </div>
            <p>© ryanbsdeveloper. All rights reserved</p>
        {% comment %} <img id='logo-main'src="{% static 'img/logo.png' %}" alt=""> {% endcomment %}
    </footer>
</html>